{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FarmCap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light">

        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Seacrh here">
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About us</a>
                    </li>
                    <!-- <li class="nav-item">
                {% if user.is_authenticated %}
                {{ user.username }}
                <a class="nav-link" href="{% url 'logout' %}">Log Out </a>
                {% else %}
				<a class="nav-link" href="signin.html">Sign in</a>
                {% endif %}
			</li> -->
                </ul>
            </div>
        </div>
    </nav>


    {% block content %} {% endblock %}


    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="{% static 'logo3.png' %}">
                    <hr class="light">
                    <p>+234 903 5512 303</p>
                    <p>farmcap@gmail.com</p>
                    <p> farm cap online</p>
                </div>

                <div class="col-md-4">
                    <hr class="light">
                    <h5>Our Hours</h5>
                    <hr class="light">
                    <p>Weekdays: 9am-5pm</p>
                    <p>Saturday: 11am-5pm</p>
                    <p> Sunday: closed</p>
                </div>

                <div class="col-md-4">
                    <br>
                    <hr class="light">
                    <h5>Service Area</h5>
                    <hr class="light">
                    <p>City, State, 00000</p>
                    <p>City, State, 00000</p>
                    <p>City, State, 00000</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; kamitech2021</h5>
                </div>

            </div>
        </div>
    </footer>



</body>

</html>